{% extends "base.twig" %}
{% block body %}
<!-- Récupérer la bonne table en fonction du user connecter et de la table sélectionner  -->

test table : {{score.getScore_param1}}
<section id="jeu"></section>
<div id="resultats"></div>
<img src="" alt="">
{% endblock %}