{% extends "base.twig" %}
{% block body %}
	<!-- Récupérer la bonne table en fonction du user connecter et de la table sélectionner  -->
	NombreSelectionner :
	{{score.getScore_param1}}
	<br>
	Ordre/désordre :
	{{score.getScore_param2}}
	<br>
	Aide :
	{{score.getScore_param3}}

	<div id="question"></div>
	<form action="" method="GET" id="click-result">
		<div id="score">
        <p>
            Score : 0 / 10
        </p>
        </div>
		<section id="table"></section>
        <div id="choice"></div>

		<br>

        

		<br>
        

		<div id="result"></div>
		<div id="test"></div>
		
	</form>

{% endblock %}
