{% extends "base.twig" %}

{% block body %}
{{ include("Templates/header.twig") }}
<div class="checked_content">
    <a href="{{root}}inscription">S'inscrire</a>
    <a href="./connexion">Connexion</a> 
</div>
{{ include("Templates/footer.twig") }}
{% endblock %}