
{% block body %}
	{{ include("Templates/header.twig")}}

	<div id="question"></div>
	<form action="./update" method="GET" id="click-result">
		<div id="score">
			<p>
				Score : 0 / 10
			</p>
		</div>
		<section class="content">
			<div id="table"></div>
			<div id="choice"></div>
		</section>
		<div id="generateBille"></div>

		<div id="finalScore"></div>
		

	</form>

{% endblock %}
